{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block nav2 %}<a class="nav-link active" href="/student_login">Student</a>{% endblock  %}
{% block nav1 %}<a class="nav-link active" href="/">Librarian</a>{% endblock  %}
{% block content %}
<div class='container my-5'>
  <div class='row'>
    <div class = "col-4">
    </div>
    <div class = "col-4">
<div class="card" style="width: 18rem;">
    <img src="static/student login.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Student Login</h5>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
   
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      
     
    </div>
  </div>
        {% endblock %}